.A {
    background-color: lightgreen;
    color: black;
}

.B {
    background-color: yellow;
    color: black;
}

.C {
    background-color: orange;
    color: black;
}

.D {
    background-color: red;
    color: black;
}

.F {
    background-color: grey;
    color: white;
}